.card {
  margin: 2px;
  min-width: 278px;
  width: 278px;
  min-height: 348px;
  height: 348px;

  border: 2px solid #00000055;
  border-radius: 5px;
  box-shadow: 0 0 2px #00000055;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  overflow: hidden;
}
.card:hover {
  margin: 1px;
  min-width: 280px;
  width: 280px;
  min-height: 350px;
  height: 350px;

  transition: ease 0.1s;
}

.card img.edit {
  background-color: #81bcff;
  
  position: absolute;
  top: 15px;
  right: 5px;
}

.card img.remove {
  background-color: #ff8181;

  position: absolute;
  top: 50px;
  right: 5px;
}

.card span.name {
  width: 100%;
  height: 40px;

  text-align: center;
  text-transform: capitalize;
  font-weight: 900;

  border-bottom: 1px solid #00000055;
  box-shadow: 0 0 2px #000000aa;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.card img {
  max-width: 274px;
  max-height: 274px;
}
.card:hover img {
  max-width: 276px;
  max-height: 276px;
}

.button_area {
  width: 100%;
  height: 30px;

  border-top: 1px solid #00000055;
  box-shadow: 0 0 2px #000000aa;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button_area button {
  width: 47%;
  height: 24px;

  text-transform: uppercase;
  font-weight: 600;

  box-shadow: 0 0 2px #000000aa;
  border: 0 solid black;
  background-color: transparent;

  cursor: pointer;
}

.confirm_delete_area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}