.card {
  min-width: 280px;
  width: 280px;
  min-height: 320px;
  height: 320px;

  border: 2px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
}

.card img.edit {
  padding: 2px;

  border-radius: 50%;
  background-color: #81bcff;
  position: absolute;
  top: 15px;
  right: 5px;
}

.card img.remove {
  padding: 2px;

  border-radius: 50%;
  background-color: #ff8181;

  position: absolute;
  top: 50px;
  right: 5px;
}

.card span.name {
  width: 100%;

  text-align: center;
  font-weight: 400;

  border: 2px solid black;
}

.card img {
  max-width: 274px;
  max-height: 274px;
}

.button_area {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.button_area button {
  width: 98%;
}

.confirm_delete_area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}