.login_box {
  padding: 10px;
  width: 40vw;
  
  border: 2px solid #000000aa;
  border-radius: 10px;
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.login_box .button_area {
  border-top: 0px;
  box-shadow: 0 0 0 #000000aa;
}

@media only screen and (max-width: 449px) {
  .login_box {
    width: 90vw;
  }
}